<h1>Sham timeline</h1>

<%= link_to new_picture_path do %>
  Upload new sham!
<% end %>

<ul>
  <% @pictures.each do |picture| %>
    <li>
      <%= picture.title %>
      <%= image_tag picture.image if picture.image.attached? %>
    </li>
  <% end %>
</ul>